/* book styles inspired by Book Layout by Erin E. Sullivan https://codepen.io/erinesullivan/pen/gxdbzp */

* { box-sizing: border-box }

body {
    font: 18px/1.5 Goudy Old Style,Garamond,Times New Roman,serif;
    background: #841;
    margin: 0;
}

/* page */
#p {
    background: #fffff1;
    /* color: #000; */
    padding: 1em;
    position: relative;
    min-height: 100vh;
    text-align: justify;
}

/* TODO: move header to bottom of the page on small screens? */
#h {
    display: none; /* hide on small screens */

    justify-content: space-between;
    font-variant-caps: small-caps;
    font-size: 16px;
}

/* show header on intro page, to display the title */
.intro #h { display: flex }
.intro #h span {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1em;
    max-width: 7.5em;
}

p {
    text-indent: 2em;
    margin: 0;
}

p:first-of-type {
    text-indent: 0;
}

p:first-of-type:first-letter {
    float: left;
    font-weight: bold;
    font-size: 3.5em;
    line-height: 0.65;
    padding: 0.1em 0.05em 0 0;
}

/* dot leaders based on https://www.w3.org/Style/Examples/007/leaders.en.html */

hr {
    margin: 2em;
}

ul {
    padding: 0;
    margin: 0;
    /* list-style: none; */
    overflow: hidden;
}

li { margin-bottom: 0.5em; clear: both; }
/* TODO: shorted the name? change to data- */
.locked { opacity: 0.5; cursor: not-allowed; }

li:after {
    float: left;
    width: 0;
    content: ".........................";
    letter-spacing: 1em;
}
li :first-child {
    padding-right: 0.3em;
    background: #fffff1;
}
li :last-child {
    float: right;
    padding-left: 0.3em;
    background: #fffff1;
    position: relative;
    /* z-index: 1; */
}

[data-next]:hover { text-decoration: underline; cursor: pointer; }
li span { pointer-events: none; }


/* supply */
#s span {
    display: inline-block;
    font-family: cursive;
    transform: rotate(-10deg);
    margin-right: 1em;
    margin-top: 1em;
}

@media (min-width: 35em) {
    body {
        font-size: 22px;
        background-color: #111;
    }

    /* cover */
    #c {
        background-color: #841;
        padding: 1em 1em 1em 0;
        max-width: 35em;
    }

    #c:after {
        background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 48%,rgba(0,0,0,0.5) 49%,rgba(0,0,0,0.6) 50%,rgba(0,0,0,0.5) 51%,rgba(0,0,0,0.2) 52%,rgba(0,0,0,0) 100%);
        bottom: 0;
        content: '';
        left: 1em;
        position: fixed;
        top: 0;
        transform: translate(-50%,0);
        width: 4em;
    }

    #p {
        padding:  2em 3em 2em 4em;
        min-height: calc(100vh - 2em);
    }

    #h {
        display: flex;
        margin-bottom: 1em;
    }

    #s {
        position: absolute;
        right: 0;
        bottom: 20%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }
}

/* large screen styles ~50B */
@media (min-width: 80em) {
    body { margin: 1em }
    /* cover */
    #c {
        padding: 1em;
        max-width: 68em;
        margin: 0 auto;
    }

    #c:after {
        left: 50%;
    }

    #p {
        padding-left: calc(50% + 3em);
        min-height: calc(100vh - 4em);
    }
}